@model MvcDemo.Models.Comment
@{
    var id = Request.Url.Segments.Last();
}
@using (Html.BeginForm("CreateComment", "Forum", FormMethod.Post))
{
  <div class="comment-contents">
      <br />
      @Html.TextBox("PostID", id, new { style = "display:none" })

      <div id="comment-title">
          @Html.LabelFor(m => m.Title)
          @Html.TextBoxFor(m => m.Title)
      </div>
      
      <div id="comment-body">
          @Html.LabelFor(m => m.Body)
          @Html.TextAreaFor(m => m.Body)
      </div>
     
      <div id="save-comment">
          <input type="submit" value="Add Comment" />
      </div>
  </div>

}
