@model MvcDemo.Models.Forum


@{
    ViewBag.Title = "ViewForum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="show-forum">
    <h2 class="heading"> @Model.Title</h2>
    @*@if (Model.Posts.Count == 0)
    {
        <p>Be the first one posted @@ @Model.Title</p>
    }*@
        @{
            var posts = Model.Posts.Where(p => p.Approved).OrderByDescending(p => p.AddedDate);
        }
        @foreach (var post in posts)
        {
            <ul>
                <li>
                    <div class="postView-status">
                        <strong>@post.ViewCount</strong><small>Counts</small>
                    </div>
                    <div class="postAddedBy-status">
                        <strong>By - @post.AddedBy </strong> | <strong>@post.AddedDate.ToUniversalTime()</strong>
                    </div> 

                    <h3>@Html.RouteLink(post.Title, "ForumPost", new { postId = post.PostID })</h3>
                </li>
            </ul>
           
             <div id="added-date">
                   
                </div>
        }    
</div>
