@*@model IEnumerable<MvcDemo.ViewModels.PostViewModel>*@
@model MvcDemo.Models.Post
@using MvcDemo.Models


@{
    ViewBag.Title = "ViewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts">
    <div id="@Model.PostID" class="post">
        
        <div id="subject-header">
            <div class="title-header">
            @Model.Title               
                </div>
            <div class="postViewpage-status">
                <strong>@Model.ViewCount</strong><small>View</small>
            </div>  
        </div>
        
        <div id="subject-details">
            @Model.Body
        </div>
        
    </div>
    
    <div id="post-comment">
        <h2><i>التعليقات</i></h2>
        @foreach (Comment comment in Model.Comments)
        {
            @Html.Partial("~/Views/Forum/_CommentItem.cshtml", comment);
        }
    </div>
    <hr />
    <h2>إضف تعليقك</h2>

    @*@Html.Partial("~/Views/Forum/_AddComment.cshtml", new MvcDemo.Models.Comment());*@
    @Html.Action("CreateComment", "Forum")
    <hr />
</div>

